@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Share styles */
.display-flex {
  display: flex;
  align-items: center;
}
.btn-main {
  border-radius: 41px;
  padding: 10px 24px 10px 24px;
  background: rgb(224, 44, 109);
}
.container {
  width: 70%;
  margin: 0 auto;
}
nav {
  padding: 25px 0px;
}
main > section {
  margin: 90px 0px;
}
.text-center {
  text-align: center;
}
footer {
  background: rgb(5, 5, 19);
  padding: 50px 0px;
}
/* Css color variable */
:root {
  --main-color: rgb(224, 44, 109);
  --header-color: rgb(58, 58, 58);
  --description-color: rgb(120, 120, 133);
}

.navbar {
  justify-content: space-between;
}
.navbar h1 {
  color: var(--header-color);
  font-size: 2.2rem;
}

.nav-manu {
  gap: 35px;
  justify-content: space-between;
}
.nav-manu a {
  text-decoration: none;
  color: var(--header-color);
  font-size: 1.2rem;
}
.nav-manu i {
  color: var(--main-color);
}

/* Hero section */
.hero-section {
  gap: 50px;
  justify-content: space-between;
  margin-top: 20px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.hero-content h1 {
  font-size: 3.5rem;
}
.hero-content p {
  font-size: 1.2rem;
  color: var(--description-color);
  width: 80%;
}
.hero-content > div > button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.hero-product {
  background-image: url(./../images/Circle\ design.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-product img {
  width: 100%;
}
.sponsor {
  justify-content: space-evenly;
  margin-top: 70px;
}
/* Product sections */

.product-container > h1 {
  font-size: 2.5rem;
  color: var(--header-color);
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  margin-top: 25px;
}
.product-card {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.027);
}
.product-card img {
  width: 100%;
}
.product-description {
  width: 80%;
  color: var(--description-color);
  font-weight: 700;
}
.product-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
}
.product-name {
  color: var(--header-color);
}
.see-more {
  display: flex;
  justify-content: end;
  padding-top: 40px;
  align-items: center;
}
.see-more > a {
  text-decoration: none;
  color: var(--main-color);
}

/* Feature section */
.featured-section {
  justify-content: space-between;
  gap: 100px;
}
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature-content p {
  font-size: 1.2rem;
  color: var(--description-color);
  font-weight: 600;
}
.feature-content h1 {
  font-size: 2.5rem;
  color: var(--header-color);
}
.feature-content button {
  color: white;
  font-size: 1.1rem;
  border: none;
  font-weight: 600;
}

/* Footer */
.footer-container {
  width: 30%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-container h1 {
  font-weight: 600;
}
.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.bars {
  display: none;
}

@media screen and (max-width: 576px) {
  .brand-logo {
    font-size: 28px !important;
  }
  .container {
    width: 85%;
  }
  .nav-manu {
    display: none;
  }
  .bars {
    display: block;
    font-size: 20px;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 14px;
    width: 100%;
  }
  .sponsor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
  }
  .sponsor img {
    width: 100%;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
  }
  .product-card h1 {
    font-size: 20px;
  }
  .product-card {
    padding: 0;
  }
  .product-card p {
    font-size: 13px;
    width: 100%;
  }

  .product-container > h1 {
    font-size: 30px;
  }
  .featured-section {
    flex-direction: column;
    gap: 10px;
  }
  .featured-section img {
    width: 100%;
  }

  .feature-content h1 {
    font-size: 30px;
  }
  .feature-content p {
    font-size: 14px;
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1070px) {
  .brand-logo {
    font-size: 28px !important;
  }
  .container {
    width: 85%;
  }
  .nav-manu {
    display: none;
  }
  .bars {
    display: block;
    font-size: 20px;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-content h1 {
    font-size: 40px;
    text-align: center;
  }
  .btn {
    margin: auto;
  }
  .hero-content p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .sponsor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
  }
  .sponsor img {
    width: 100%;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
  }
  .product-card h1 {
    font-size: 20px;
  }
  .product-card {
    padding: 0;
  }
  .product-card p {
    font-size: 13px;
    width: 100%;
  }

  .product-container > h1 {
    font-size: 30px;
  }
  .featured-section {
    flex-direction: column;
    gap: 10px;
  }
  .featured-section img {
    width: 70%;
  }

  .feature-content h1 {
    font-size: 30px;
    text-align: center;
  }
  .feature-content p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .footer-container {
    width: 100%;
  }
}
